body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8c5959;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #ffffff;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8c5959;
   }

   .language {
      background-color: #574949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #978e8e;
      color: white;
   }

   header {
      background-color: #582f2f;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #836161;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6e5656;
      }
      .card {
         background: #6e5656;
         color: white;
      }
   }

   #portfolio {
      background: #5e4c4c;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #6e5656;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #5e4c4c;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #6e5656 !important;
         color: white;
      }

      .main-badge {
         background: #945656 !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #8d7272 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5e4e4e;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
